#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99999;
}

#page-loader img {
  width: 90px;
  height: auto;
  animation: pulseLoader 1.5s infinite ease-in-out;
}

@keyframes pulseLoader {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

#page-loader.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease;
}


